#about.side_button
  =link_to 'About&nbsp;&raquo;'.html_safe, about_path 
#terms_of_service.side_button
  =link_to 'Terms of Service&nbsp;&raquo;'.html_safe, terms_of_service_path 
#privacy_policy.side_button
  =link_to 'Privacy&nbsp;&raquo;'.html_safe, privacy_policy_path 
#contact_us.side_button
  =link_to 'Contact Us&nbsp;&raquo;'.html_safe, contact_us_path 
#help.side_button
  =link_to 'Help&nbsp;&raquo;'.html_safe, help_path 
#blog.side_button
  =link_to 'Blog&nbsp;&raquo;'.html_safe, 'http://blog.doyouremember.com'
#get_the_app.side_button
  =link_to 'Get the App&nbsp;&raquo;'.html_safe, get_our_app_path 

/ add some code to check which page is the current page, and if so, add a .current class,
/ which highlights the sidebar item in some way.