.site_info
  #sidebar
    =render"more_sidebar"
  #content
    %h1 About Us
    DoYouRemember is the first social website based on nostalgia. Our goal is to bring people together by connecting them through their memories. DoYouRemember lets you create and share your memories with a nostalgic community. People use DoYouRemember to bridge their past with friends, family, and the world.
    %h3 Submission Rules
    %ul.submissions
      %li DoYouRemember is all about our love for nostalgia. All submissions , including images, videos,  descriptions, titles and comments, should relate to topics regarding the past.
      %li DoYouRemember supports our friends who earn their livings through buying or selling products or services relating to all that’s retro. You may post a memory that’s commercial in nature, however, you may not include a phone number, address, URL or link within images, descriptions, videos, descriptions, titles and comments. You may activate the link to your website, which is found below the memory description field.
      %li You may not post more than ten (10) memories that are commercial in nature, within a given hour. 
      %li All content must be in good taste. 
      %li Failure to comply with any of these Rules may result in your submission being flagged. A user that is flagged three times will be suspended from DoYouRemember for 30 days. Further non-compliance may result in permanent revocation of user privileges. 
    For more information, see our #{link_to 'Terms of Service Agreement', terms_of_service_path}.