.site_info
  #sidebar
    =render"more_sidebar"
  #content
    %h1 Contact Us
    %p For ongoing information about DoYouRemember, please read our #{link_to 'company blog', "http://blog.doyouremember.com" } or follow us on Twitter at #{link_to '@doyouremember', 'http://twitter.com/doyouremember' }.
    %p Also, feel free to contact us with service questions, partnership proposals, or media inquiries to #{mail_to 'info@doyouremember.com'}.