%a{:href => !@memory.user.eql?(current_user) ? forgot_memory_path(@memory) : '#', :title => 'You remember this memory', 'data-remote' => true}
  -# %img{:src => "#{asset_path 'remembers_profile.png'}", :border => 0}
  %img{:src => "#{asset_path 'remembers_small_mini.png'}", :border => 0}
%span
  = @memory.remembered_by.count