@font-face {
  font-family: 'HelveticaLTStdBoldCondensed';
  src: url('helveticaltstd-boldcond-webfont.eot');
  src: url('helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
  url('helveticaltstd-boldcond-webfont.woff') format('woff'),
  url('helveticaltstd-boldcond-webfont.ttf') format('truetype'),
  url('helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dakota';
  src: url('dakotaregular.eot');
  src: url('dakotaregular.eot?#iefix') format('embedded-opentype'),
  url('dakotaregular.woff') format('woff'),
  url('dakotaregular.ttf') format('truetype'),
  url('dakotaregular.svg#dakotaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AlphaMackAOERegular';
  src: url('alphma__-webfont.eot');
  src: url('alphma__-webfont.eot?#iefix') format('embedded-opentype'),
  url('alphma__-webfont.woff') format('woff'),
  url('alphma__-webfont.ttf') format('truetype'),
  url('alphma__-webfont.svg#AlphaMackAOERegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharkHandWrittenABC';
  src: url('sharkhandwriteabc.eot');
  src: url('sharkhandwriteabc.eot?#iefix') format('embedded-opentype'),
  url('sharkhandwriteabc.woff') format('woff'),
  url('sharkhandwriteabc.ttf') format('truetype'),
  url('sharkhandwriteabc.svg#sharkhandwriteabc') format('svg');
  font-weight: normal;
  font-style: normal;
}