#signInUpBox {
	-webkit-transition:All 0.5049s ease;
	-moz-transition:All 0.5049s ease;
	-o-transition:All 0.5049s ease;
	margin:20% auto 0 auto;
	padding:20px;
	width:392px;
	@media screen and (max-width: 320px){
		width:100%;
	}
	height:372px;
	background:transparent image-url('loginBackground.png') left top no-repeat;
	&:hover {
		cursor: pointer;
		cursor: move;
	}
	&.newAccount {
		width:372px;
		@media screen and (max-width: 320px){
			width:100%;
		}
	}
	#DYRlogo {
  	width:244px;
  	margin:30px auto 0 auto;
  }
  .loginUsingSocialNetworks {
  	width:190px;
  	height:80px;
  	margin:20px auto 0 auto;
  	&.signingUp {
  		text-align:center;
  		width:220px;
  		height:180px;
  		margin:20px auto 0 auto;
  		.info {
  			margin-bottom:15px;
  		}
  	}
  	a.social {
  		height:30px;
  		margin-bottom:10px;
  		display:block;
  		&.andEmail {
  			height:40px;
  		}
  	}
  }
  #loginManually {
  	width:190px;
  	height:120px;
  	margin:10px auto 0 auto;
  	.field {
  		width:100%;
  		float:left;
  		.right {
  			float:left;
  			padding-top:5px;
  			margin-left:6px;
  			a	{
  				font-size:12px;
  				color: #333;
  			}
  		}
  	}
  	input[type="email"], input[type=password], input[type=text] {
  		width:146px;
  		-webkit-border-radius: 5px;
  		border-radius: 5px;
  		padding:5px 10px;
  		border: 1px solid #ccc;
  		box-shadow: 3px 3px 1px rgba(150,150,150,.50) inset, 1px 1px 0 rgba(0,0,0,.50) inset;
  		border-right: 1px solid #ccc;
  		font-size:14px;
  		color: #666;
  		margin-bottom:10px;
  		padding-top:10px;
  	}
  	input::-webkit-input-placeholder, input:-moz-placeholder {
  	   font-size: 14px;
  		font-weight:500;
  	}
  	input[type="submit"] {
  		float:left;
  	  color: #ffffff;
  	  font-size: 14px;
  		padding:4px 8px;
  	  text-decoration: none;
  	  -webkit-border-radius: 4px;
  	  -moz-border-radius: 4px;
  	  -webkit-box-shadow: 0px 1px 2px #666666;
  	  -moz-box-shadow: 0px 1px 2px #666666;
  	  text-shadow: 1px 1px 3px #666666;
  	  border: solid #7a7a7a 1px;
  	  background: -webkit-gradient(linear, 0 0, 0 100%, from(#989898), to(#676767));
  	  background: -moz-linear-gradient(top, #989898, #676767);
  	  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#989898, endColorStr=#676767);
  	  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#989898, endColorStr=#676767);
  	  display:inline-block; /* IE is so silly */
  		&:hover {
  		  background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#666466));
  		  background: -moz-linear-gradient(top, #999999, #666466);
  			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#989898, endColorstr=#676767);
  		}
  	}
  }
}
#signUpLink {
	clear: both;
	width:220px;
	margin:10px auto 0 auto;
	color: #333;
	font-size:15px;
	font-weight:100;
	a {
		font-weight:100;
		color: #0b1fe2;
		text-decoration:none;
	}
}

//#manually {
//
//  input[type="text"], input[type="email"], input[type=password] {
//    width:146px;
//    -webkit-border-radius: 5px;
//    border-radius: 5px;
//    padding:5px 10px;
//    border: 1px solid #ccc;
//    box-shadow: 3px 3px 1px rgba(150,150,150,.50) inset, 1px 1px 0 rgba(0,0,0,.50) inset;
//    border-right: 1px solid #ccc;
//    font-size:14px;
//    color: #666;
//    margin-bottom:10px;
//  }
//  input::-webkit-input-placeholder, input:-moz-placeholder {
//     font-size: 14px;
//    font-weight:500;
//  }
//  input.file {
//      position: relative;
//      text-align: right;
//      filter:alpha(opacity=0);
//      -moz-opacity:0;
//      opacity:0;
//      opacity: 0;
//      z-index: 2;
//      width:83px;
//      cursor:normal;
//      cursor: pointer;
//      height:20px;
//  }
//  .fileinputs {
//    position: relative;
//    top: 3px;
//    width:83px;
//    height:20px;
//    .fakefile {
//      position: absolute;
//      top: 0px;
//      left: 0px;
//      z-index: 1;
//    }
//    input.uploadButton {
//      background:transparent image-url("newUserUploadProfilePicButton.png") no-repeat scroll 0px 0px ;
//      width:83px;
//      height:20px;
//      cursor:pointer;
//      border:0px;
//      :hover {
//        background:transparent image-url("newUserUploadProfilePicButton.png") no-repeat scroll 0px -40px ;
//      }
//    }
//  }
//  #selectOne {
//    margin:-15px 10px 5px auto;
//    font-size: 12px;
//    text-align:right;
//  }
//  .pickProfileImage {
//    display:inline-block;
//    position: relative;
//    top: -22px;
//    left:60px;
//    z-index:999;
//    a.avatar {
//      display:inline-block;
//      width:29px;
//      height:29px;
//      -webkit-transition: all 0.5s ease;
//      -moz-transition: all 0.5s ease;
//      -ms-transition: all 0.5s ease;
//      -o-transition: all 0.5s ease;
//      transition: all 0.5s ease;
//      opacity:.60;
//      &.on {
//        -webkit-transform:scale(1.11);
//        -moz-transform:scale(1.11);
//        -o-transform:scale(1.11);
//        transform: scale(1.11);
//        -webkit-transition: all 0.5s ease;
//        -moz-transition: all 0.5s ease;
//        -ms-transition: all 0.5s ease;
//        -o-transition: all 0.5s ease;
//        transition: all 0.5s ease;
//        opacity:1;
//      }
//    }
//  }
//  input[type="submit"] {
//    margin: 5px auto;
//    color: #ffffff;
//    font-size: 14px;
//    padding:4px 8px;
//    text-decoration: none;
//    -webkit-border-radius: 4px;
//    -moz-border-radius: 4px;
//    -webkit-box-shadow: 0px 1px 2px #666666;
//    -moz-box-shadow: 0px 1px 2px #666666;
//    text-shadow: 1px 1px 3px #666666;
//    border: solid #7a7a7a 1px;
//    background: -webkit-gradient(linear, 0 0, 0 100%, from(#989898), to(#676767));
//    background: -moz-linear-gradient(top, #989898, #676767);
//    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#989898, endColorStr=#676767);
//    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#989898, endColorStr=#676767);
//    display:inline-block; /* IE is so silly */
//    &:hover {
//      background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#666466));
//      background: -moz-linear-gradient(top, #999999, #666466);
//      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#989898, endColorstr=#676767);
//    }
//  }
//  .info {
//    margin-top:10px;
//  }
//  .field {
//    &.birthYear {
//      width:100%;
//      display:inline-block;
//      margin-bottom:0;
//      select#user_birth_year {
//        display:inline;
//        margin-bottom:0;
//      }
//    }
//    .field_with_errors {
//      display:inline-block;
//    }
//  }
//}
//.hidden {
//  display:none;
//}
//
//.ui-draggable-dragging {
//opacity:0.3;
//cursor: pointer;
//cursor: move;
//}
//.clear {
//clear:both;
//}
//.notification_box {
//  position:absolute;
//  left:20px;
//  top: 55px;
//  width:260px;
//  margin:10px auto;
//  padding:5px 10px;
//  border: 2px #fff solid;
//  border:groove 1px #000000;
//  border:ridge 2px #000000;
//  border:ridge 2px #000000;
//  -moz-border-radius-topleft: 9px;
//  -moz-border-radius-topright:9px;
//  -moz-border-radius-bottomleft:9px;
//  -moz-border-radius-bottomright:9px;
//  -webkit-border-top-left-radius:9px;
//  -webkit-border-top-right-radius:9px;
//  -webkit-border-bottom-left-radius:9px;
//  -webkit-border-bottom-right-radius:9px;
//  border-top-left-radius:9px;
//  border-top-right-radius:9px;
//  border-bottom-left-radius:9px;
//  border-bottom-right-radius:9px;
//  font-size:16px;
//  color: #000;
//  h1 {
//    font-size:16px;
//    line-height:16px;
//  }
//  &.alert {
//    background-color: red;
//    opacity:0.9;
//  }
//  &.notice {
//    background-color: green;
//    opacity:0.9;
//  }
//  ul {
//    list-style:none;
//  }
//}